.advantages-wrapper {
  background-color: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
  height: 205px;
  margin-bottom: -13px;
}

@media (min-width: @tablet-width) {
  .advantages-wrapper {
    height: 256px;
    width: 385px;
    margin-bottom: 0px;
  }
}

@media (min-width: @desktop-width) {
  .advantages-wrapper {
    width: 601px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0px;
}

.advantages-slogan {
  font-family: "PT SansBold";
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 30px;
  padding-left: 4px;
  padding-right: 8px;
  max-width: 484px;
}

@media (min-width: @tablet-width) {
  .advantages-slogan {
    font-size: 21px;
    line-height: 26px;
    padding: 45px 8px 30px 5px;
  }

  .advantages-slogan br {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .advantages-slogan {
    padding: 57px 11px 30px 5px;
  }
}

.advantages__text {
  text-align: center;
  margin: 0 auto;
  line-height: 26px;
  padding-bottom: 18px;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 1px;
  max-width: 520px;
}

@media (min-width: @tablet-width) {
  .advantages__text {
    margin-bottom: 34px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__text {
    margin-bottom: 22px;
  }
}


.advantages__overlay {
  margin-top: -23px;
}

@media (min-width: @tablet-width) {
  .advantages__overlay {
    display: none;
  }
}


.advantages__description {
  position: relative;
  bottom: 2px;
  left: -3px;
  font-size: 14px;
  line-height: 21px;
  padding-left: 5px;
}

@media (min-width: @tablet-width) {
  .advantages__description {
    bottom: 0px;
    left: 27px;
    width: 197px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description {
    left: 55px;
    width: 294px;
  }
}

.advantages__description p {
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: center;
}

.advantages__item {
  padding-top: 0;
  background-color: #eeeeee;
  counter-increment: advantages;
  position: relative;
  text-align: center;
padding-bottom: 33px;
}


@media (min-width: @tablet-width) {
  .advantages__item {
    display: flex;
    flex-wrap: nowrap;
  }
}


.advantages__item--home::after {
  display: block;
  content: "";
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  grid-column: span 2;
}


@media (min-width: @tablet-width) {
  .advantages__item--home::after {
    height: 256px;
    margin-left: -1px;
  }
}

.advantages__item--home:nth-of-type(1)::after {
  background-image: url("../img/tablet/photo-city@1x.jpg");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
  .advantages__item--home:nth-of-type(1)::after {
    background-image: url("../img/tablet/photo-city@2x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .advantages__item--home::after {
    height: 256px;
    margin-left: -1px;
  }
}

.advantages__item--home:nth-of-type(1)::after {
  background-image: url("../img/photo-city@1x.jpg");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
  .advantages__item--home:nth-of-type(1)::after {
    background-image: url("../img/photo-city@2x.jpg");
  }
}

.advantages__item--bridge::after {
  display: block;
  content: "";
  width: 100%;
  height: 260px;
  margin-bottom: 27px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  grid-column: span 2;
}

.advantages__item--bridge::after {
  background-image: url("../img/photo-bridge@1x.jpg");
}

.advantages__item--bridge::after {
  background-image: url("../img/photo-bridge@2x.jpg");
}

@media (min-width: @tablet-width) {
  .advantages__item--bridge {
    flex-direction: row-reverse;
    height: 281px;
    margin-top: -25px;
  }
}


.advantages__title {
  position: static;
  font-family: "PT SansBold";
  font-size: 18px;
  padding-top: 12px;
  line-height: 26px;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    text-align: center;
    padding-left: 21px;
    padding-top: 21px;
    width: 216px;
    font-size: 21px;
    line-height: 26px;
    margin-left: 10px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__title {
    padding-top: 28px;
    padding-left: 21px;
    margin-left: 82px;
  }
}

.advantages__number {
  position: relative;
  top: -9px;
  font-size: 14px;
  line-height: 21px;
}

.advantages__bridge {
  padding-top: 68px;
}

.advantages__item--fon:nth-of-type(1)::after {
  background-image: url("../img/photo-bridge@1x.jpg");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
  .advantages__item--fon:nth-of-type(1)::after {
    background-image: url("../img/photo-bridge@2x.jpg");
  }
}

.advantages-wrapper--bridge {
  margin-top: -27px;
  margin-bottom: 0px;
  height: 191px;
}

@media (min-width: @tablet-width) {
  .advantages-wrapper--bridge {
    margin-top: 0px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages-wrapper--bridge {
    height: 297px;
    margin-top: auto;
    margin-bottom: -10px;
  }
}


.advantages-wrapper--bridge p {
  padding-bottom: 11px;
  margin-top: -6px;
}

.advantages-wrapper--bridge h3 {
  padding-top: 40px;

}

@media (min-width: @tablet-width) {
  .advantages-wrapper--bridge h3 {
    margin-top: 4px;
  }
}




.city-advantages__privilege {
  padding: 0px;
  margin-top: -25px;
}

.advantages__item--numbers::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  /* Отступ слева */
  right: 20px;
  /* Отступ справа */
  height: 1px;
  background-color: #d6d6d6;
}

.advantages__item--numbers:last-child {
  border: none;
}

.advantages__item--numbers {
  height: 167px;
  padding: 1px 32px;
}


@media (min-width: @tablet-width) {
.advantages__item--numbers {
    display: grid;
    grid-template-columns: 1fr;

  }
}


@media (min-width: @tablet-width) {
.city-advantages__privilege {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.advantages__title--numbers {
  font-family: "PT SansBold";
  font-size: 18px;
  padding-top: 10px;
}

.advantages__description--numbers {
  line-height: 21px;
}
