.city-advantages {
    position: relative;
    max-width: 218px;
    left: 69px;
    margin-top: 35px;
    }

.city-advantages__list {
    display: flex;
    flex-direction: column;
    margin-top: -29px;
}

.city-advantages__items {
    margin-bottom: -16px;
    position: relative;
}

.city-advantages__items::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.city-advantages__item--lodging::before {
    width: 39px;
    height: 36.83px;
    left: -48px;
    top: -11px;
    background-image: url("../img/SVG/icon-house.svg");
}

.city-advantages__item--souvenir::before {
    width: 32px;
    height: 38px;
    left: -44px;
    top: -12px;
    background-image: url("../img/SVG/icon-gift.svg");
}

.city-advantages__item--food::before {
    width: 40px;
    height: 34.9px;
    left: -51px;
    top: -5px;
    background-image: url("../img/SVG/icon-burger.svg");
}


.city-advantages__title {
    position: static;
    font-family: "PT SansBold";
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 27px;
}

.city-advantages__text {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    bottom: 10px;
    left: 1px;
}

