.main-nav__wrapper {
    margin-top: 0px;
    padding: 0px;
    margin: -14px;
    background-color: var(--basic-blue);
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: -11px;
}

@media (min-wigth: @mobile-width-only) {
    .main-nav__wrapper::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 7px;
        background: rgba(0, 0, 0, 0.2);
    }
}

.main-nav__list {
    @media (min-width: @tablet-width) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 768px;

    }
}

.main-nav__panel {
    height: 56px;
    display: grid;
    grid-template-columns: 1fr 43px;
    align-items: center;
    justify-items: center;
    position: relative;
    z-index: 3;
    background-color: #ffffff;
}

@media (min-wight: @mobile-width-only) {
    .main-nav__panel {
        z-index: 2;
    }
}

/* Стили для гамбургер-меню (три линии) */
.main-nav__toggle {
    position: relative;
    width: 27px;
    height: 20px;
    margin-right: 29px;
    margin-top: 3px;
    background: none;
    border: none;
    cursor: pointer;

}

.main-nav__toggle::before,
.main-nav__toggle::after,
.main-nav__toggle span {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    margin-top: -221px;
    margin-left: 5px;
}

.main-nav__toggle::before {
    top: 0;
}

.main-nav__toggle::after {
    bottom: 0;
}

.main-nav__toggle span {
    top: 50%;
    transform: translateY(-50%);
}

/* Стили для крестика (при открытом меню) */
.main-nav--opened .main-nav__toggle {
    position: relative;
}

.main-nav--opened .main-nav__toggle::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.main-nav--opened .main-nav__toggle span {
    opacity: 0;
}

/* Скрываем меню по умолчанию */
.main-nav__wrapper {
    display: none;
    /* Дополнительные стили, если нужны */
}

/* Показываем меню, когда класс .main-nav--opened добавлен */
.main-nav--opened .main-nav__wrapper {
    display: block;
}