.page-header {
    position: relative;
}

.page--header__logo {
    margin-left: 43px;
}

@media (min-width: @mobile-width-only) {
    .page--header__logo {
        background-color: #000000;
        background-image: url("/source/img/logotype/logotype-mobile.svg.jpg");
        background-repeat: no-repeat;

        @media (min-resolution: 2dppx) {
            background-image: url("/source/img/logotype/logotype-mobile.svg@2x.jpg");
        }

        @media (min-resolution: 3dppx) {
            background-image: url("/source/img/logotype/logotype-mobile.svg@3x.jpg");
        }
    }
}