.search {
  text-align: center;
}

.search__title {
  font-family: "PT SansBold";
  font-size: 21px;
  line-height: 26px;
  padding-top: 12px;
  padding-left: 19px;
  padding-right: 19px;
}

.serch__description {
  font-size: 14px;
  line-height: 24px;
  margin-left: 25px;
  margin-right: 25px;
}

.search__button {
  font-family: "PT SansBold";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  width: 280px;
  height: 58px;
  background-color: #81B3D2;
  border: none;
  margin-top: 13px;
}
