.site-list__link {
  font-family: "PT SansBold";
  font-weight: bold;
  font-weight: 700;
  line-height: 40px;
  font-size: 18px;
  padding: 0 0px;
  list-style: none;
  height: 55px;
}

@media (max-width: @mobile-width-only) {

  .site-list__link:last-child a {
    height: 40px;
    box-shadow: inset 0 -22px 7px -19px rgba(0, 0, 0, 0.2);
  }
}

.site-list a {
  position: relative;
  display: block;
  padding: 12px 0px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-blue);
  border-top: 1px solid rgba(29, 26, 26, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  margin-left: -40px;
}
