:root {
    --basic-white: #ffffff;
    --basic-orange: #DC6243;
    --basic-black: #000000;
    --basic-dark-grey: #333333;
    --basic-grey: #5C6870;
    --basic-blue: #81B3D2;
    --basic-sweet-grey: #E5E5E5;
    --basic-maroon: #491213;
    --basic-DeepSkyBlue: #23A9E1;
    --basic-sweet: #F2F2F2;
    --basic-coral: #F49774;
    --basic-LightSalmon: #F4B1A4;
}